doctype html
html
    head
        style
            include main.css

    body
        div.header
            |Hello my first mail
            br
            |This is container

        block content
        //класів можна прописувати багато
        div.footer
            |(c) Sep2021-Node 2021-2022
            |FOOTER
            a(href=frontendUrl) CLICK HERE
