<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hw-2</title>
</head>
<body style="background-color: antiquewhite;">
<div style="margin: 50px 150px;">

    <form action="/login" method="post">
        First name: <input type="text" name="firstName">
        Last name: <input type="text" name="lastName">
        Email:<input type="text" name="email">
        Password:<input type="text" name="password">
        Age:<input type="text" name="age">
        City:<input type="text" name="city">
        <input type="submit" value="Send">
    </form>
</div>

</body>
</html>